include pynbody/default_config.ini
include pynbody/sph_image.c
include pynbody/sph_to_grid.c
include pynbody/analysis/cmdlum.npz
include pynbody/analysis/interpolate.c
include pynbody/analysis/ionfracs.npz
include pynbody/analysis/interpolate3d.c
include pynbody/plot/tollerud2008mw
include pynbody/kd.h
include pynbody/smooth.h
include pynbody/gravity/direct_omp.pyx