name: Build and Test

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  fetch-testdata:
    uses: ./.github/workflows/fetch-testdata.yaml

  build:
    needs: fetch-testdata
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2025]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        numpy-version: ["2.0.2", "2.3.3"]
        exclude:
          - python-version: "3.14"
            numpy-version: "2.0.2"
          - python-version: "3.13"
            numpy-version: "2.0.2"

    runs-on: ${{ matrix.os }}
    env:
      C: ${{ matrix.os == 'ubuntu-latest' && 'gcc-10' || '' }}
      CXX: ${{ matrix.os == 'ubuntu-latest' && 'g++-10' || '' }}
    steps:
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: actions/checkout@v6
    - name: Install gcc (Ubuntu only)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt-get update -qq
        sudo apt install -y gcc-10 g++-10
    - name: Install prerequisites
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install numpy==${{ matrix.numpy-version }}
    - name: Build and install pynbody
      run: |
        python -m pip install -v .[tests]

    - name: Restore testdata cache
      uses: actions/cache/restore@v5
      with:
        path: tests/testdata
        key: testdata-${{ needs.fetch-testdata.outputs.testdata-key }}
        enableCrossOsArchive: true
    - name: Run all tests
      working-directory: tests
      run: python -m pytest --ignore=testdata/ --tb=short
    # Following is temporarily necessary because of the >2.0.0rc1 numpy version
    - name: sanitize artifact name
      if: always()
      run: |
        TARGET_SANI=$(echo "images-${{ matrix.python-version }}-${{ matrix.numpy-version }}-${{ matrix.os }}" | tr ">" "_")
        echo "TARGET_SANI=${TARGET_SANI}" >> "$GITHUB_ENV"
    - name: Upload test images
      uses: actions/upload-artifact@v6
      if: success() || failure()
      with:
        name: ${{ env.TARGET_SANI }}
        path: tests/result*.npy
