name: fetch-testdata.yaml
on:
  workflow_call:
    outputs:
      testdata-key:
        description: 'The cache key for the testdata'
        value: ${{ jobs.fetch-testdata.outputs.testdata-key }}

jobs:
  fetch-testdata:
    runs-on: ubuntu-latest
    concurrency:
      group: testdata-download
      cancel-in-progress: false
    outputs:
      testdata-key: ${{ steps.get-testdata-hash.outputs.testdatahash }}
    steps:
    - uses: actions/checkout@v5
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - name: Install osfclient
      run: |
        python -m pip install osfclient
    - name: Get testdata hash
      id: get-testdata-hash
      run: |
        echo "testdatahash=$(python pynbody/test_utils/__init__.py)" >> $GITHUB_OUTPUT
    - name: Restore testdata cache
      uses: actions/cache/restore@v4
      id: cache-testdata
      with:
        path: tests/testdata
        key: testdata-${{ steps.get-testdata-hash.outputs.testdatahash }}
        enableCrossOsArchive: true
    - name: Fetch and unpack test data
      if: steps.cache-testdata.outputs.cache-hit != 'true'
      working-directory: tests
      run: |
        python ../pynbody/test_utils/__init__.py --fetch
    - name: Save testdata cache
      uses: actions/cache/save@v4
      if: always() && steps.cache-testdata.outputs.cache-hit != 'true'
      with:
        path: tests/testdata
        key: testdata-${{ steps.get-testdata-hash.outputs.testdatahash }}
        enableCrossOsArchive: true
