name: Push to PyPI

on:
  push:
    tags: v*
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/pypi.yaml'

  workflow_dispatch:


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.buildplat[0] }}
    runs-on: ${{ matrix.buildplat[0] }}
    strategy:
      matrix:
        # Following numpy's setup
        buildplat:
        - [ubuntu-20.04, manylinux, x86_64]
        - [macos-11, macosx, x86_64]
        - [macos-11, macosx, arm64]
        python: ["cp38", "cp39", "cp310", "cp311"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install numpy and cython
        run: python -m "pip" install numpy cython

      - name: Install GCC (Ubuntu)
        if: matrix.buildplat[0] == 'ubuntu-20.04'
        shell: bash
        run: |
          sudo apt-get update -qq
          sudo apt install gcc-10 g++-10
          echo "CC=gcc-10" >> $GITHUB_ENV
          echo "CXX=g++-10" >> $GITHUB_ENV

      - name: Install Clang (MacOS)
        if: startsWith(matrix.buildplat[0], 'macos')
        shell: bash
        run: |
          brew install llvm@15
          echo "CC=/usr/local/opt/llvm@15/bin/clang" >> $GITHUB_ENV
          echo "CXX=/usr/local/opt/llvm@15/bin/clang++" >> $GITHUB_ENV
          echo 'LDFLAGS="-L/usr/local/opt/llvm/lib"' >> $GITHUB_ENV
          echo 'CFLAGS="-I/usr/local/opt/llvm/include"' >> $GITHUB_ENV
          echo 'CPPFLAGS="-I/usr/local/opt/llvm/include"' >> $GITHUB_ENV

      - name: Install relevant libraries for arm64 (MacOS)
        if: startsWith(matrix.buildplat[0], 'macos') && matrix.buildplat[2] == 'arm64'
        shell: /bin/zsh {0}
        run: |
          setopt sh_word_split
          mkdir arm-homebrew && curl -L https://github.com/Homebrew/brew/tarball/master | tar xz --strip 1 -C arm-homebrew
          alias arm-brew='$(pwd)/arm-homebrew/bin/brew'
          response=$(arm-brew fetch --force --bottle-tag=arm64_big_sur llvm@15 | grep "Downloaded to")
          parsed=($response)

          arm-brew install --ignore-dependencies $parsed[3]

          librarydir=$(pwd)/arm-homebrew/opt/llvm@15/lib/

          echo "LDFLAGS=-L$librarydir" >> $GITHUB_ENV
          echo "CIBW_REPAIR_WHEEL_COMMAND_MACOS=DYLD_LIBRARY_PATH=$librarydir; delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel}"  >> $GITHUB_ENV

      - name: Determine version tag
        if: github.event_name != 'pull_request'
        run: |
          echo "SETUP_VERSION=`python setup.py --version`" >> $GITHUB_ENV
          echo "VERSION_TAG=`git describe --tags | cut -c 2-`" >> $GITHUB_ENV

      - name: Verify version naming is consistent
        if: github.event_name != 'pull_request'
        run: |
          if [ "${{ env.VERSION_TAG }}" == "${{ env.SETUP_VERSION }}" ]; then
              echo Git tag and python setup.py versions match: ${{ env.VERSION_TAG }}
          else
              echo Version label mismatch
              echo Git tag-derived version is ${{ env.VERSION_TAG }}
              echo setup.py-derived version is ${{ env.SETUP_VERSION }}
              exit 1;
          fi

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.12.0
        env:
          CIBW_BUILD: ${{ matrix.python }}-${{ matrix.buildplat[1] }}_${{ matrix.buildplat[2] }}
          CIBW_ARCHS_MACOS: ${{ matrix.buildplat[2] }}

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install numpy and cython
        run: python -m "pip" install numpy cython

      - name: Build sdist
        run: python setup.py sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment: PyPI
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.8.4
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
